<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/main.css">
    <title>Cart</title>

    <style>
        input[type=submit] {    
        background-color: rgb(37, 116, 161);    
        color: white;    
        padding: 12px 20px;    
        border: none;    
        border-radius: 4px;    
        cursor: pointer;    
        float: right;    
        }    
            
        input[type=submit]:hover {    
        background-color: #45a049;    
        }    
    </style>
</head>

<body>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Cart</h1>
            <div class="tab-content">
                {{#if user}}
                    <div class="tab-pane container-fluid active">
                        <br>
                        <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="60%">Item</th>
                                    <th width="20%">Price</th>
                                    <th width="20%"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#if cart}}
                                    {{#each cart}}
                                            <tr>
                                                <td>{{this.product_name}}</td>
                                                <td>{{this.product_price}}</td>
                                                <td><a href="/myCart/delete/{{this.product_name}}" class="btn btn-danger">Remove</a></td>
                                            </tr>
                                    {{/each}}
                                    <tr>
                                        <td><p>Total:</p></td>
                                        <td></td>
                                        <td><p>${{total}}</p></td>
                                    </tr>
                                {{else}}
                                    <p>Your cart is empty. Please add some items.</p>
                                    <a href="/productsPublic" class="btn btn-success">Add Items</a>
                                {{/if}}
                            </tbody>
                        </table>
                        </div>
                    </div>
                {{else}}
                    <p>You need to be signed in to view or add items to your cart.</p>
                {{/if}}
            </div>
            <hr class="my-4">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
